/.vscode
/.vs
/.github

/Petopia.API/bin
/Petopia.API/obj
/Petopia.API/.vs
/Petopia.API/.vscode
/Petopia.API/Properties

/Petopia.Business/bin
/Petopia.Business/obj
/Petopia.Business/.vs
/Petopia.Business/.vscode

/Petopia.Data/bin
/Petopia.Data/obj
/Petopia.Data/Migrations
/Petopia.Data/.vs
/Petopia.Data/.vscode

/Petopia.DataLayer/bin
/Petopia.DataLayer/obj
/Petopia.DataLayer/.vs
/Petopia.DataLayer/.vscode

/Petopia.BackgroundJobs/bin
/Petopia.BackgroundJobs/obj
/Petopia.BackgroundJobs/.vs
/Petopia.BackgroundJobs/.vscode

/__azurite_db_blob__.json
/__azurite_db_blob_extent__.json
/__azurite_db_queue__.json
/__azurite_db_queue_extent__.json
/__azurite_db_table__.json
