/.vscode
/.vs
/.github
/.config

/Petopia.API/bin
/Petopia.API/obj
/Petopia.API/.vs
/Petopia.API/.vscode
/Petopia.API/Properties

/Petopia.Business/bin
/Petopia.Business/obj
/Petopia.Business/.vs
/Petopia.Business/.vscode

/Petopia.Data/bin
/Petopia.Data/obj
/Petopia.Data/.vs
/Petopia.Data/.vscode

/Petopia.DataLayer/bin
/Petopia.DataLayer/obj
/Petopia.DataLayer/.vs
/Petopia.DataLayer/.vscode

/Petopia.BackgroundJobs/bin
/Petopia.BackgroundJobs/obj
/Petopia.BackgroundJobs/.vs
/Petopia.BackgroundJobs/.vscode

/Petopia.SeedingData/bin
/Petopia.SeedingData/obj
/Petopia.SeedingData/.vs
/Petopia.SeedingData/.vscode