/.vscode
/.vs
/.github

/PetAdoption.API/bin
/PetAdoption.API/obj
/PetAdoption.API/.vs
/PetAdoption.API/.vscode
/PetAdoption.API/Properties

/PetAdoption.Business/bin
/PetAdoption.Business/obj
/PetAdoption.Business/.vs
/PetAdoption.Business/.vscode

/PetAdoption.Data/bin
/PetAdoption.Data/obj
/PetAdoption.Data/Migrations
/PetAdoption.Data/.vs
/PetAdoption.Data/.vscode

/PetAdoption.DataLayer/bin
/PetAdoption.DataLayer/obj
/PetAdoption.DataLayer/.vs
/PetAdoption.DataLayer/.vscode

/PetAdoption.BackgroundJobs/bin
/PetAdoption.BackgroundJobs/obj
/PetAdoption.BackgroundJobs/.vs
/PetAdoption.BackgroundJobs/.vscode

/__azurite_db_blob__.json
/__azurite_db_blob_extent__.json
/__azurite_db_queue__.json
/__azurite_db_queue_extent__.json
/__azurite_db_table__.json
