/.vscode
/.vs

/PetAdoption.API/bin
/PetAdoption.API/obj
/PetAdoption.API/.vs
/PetAdoption.API/.vscode
/PetAdoption.API/appsettings.json
/PetAdoption.API/Properties

/PetAdoption.Business/bin
/PetAdoption.Business/obj
/PetAdoption.Business/.vs
/PetAdoption.Business/.vscode

/PetAdoption.Data/bin
/PetAdoption.Data/obj
/PetAdoption.Data/Migrations
/PetAdoption.Data/.vs
/PetAdoption.Data/.vscode

/PetAdoption.DataLayer/bin
/PetAdoption.DataLayer/obj
/PetAdoption.DataLayer/.vs
/PetAdoption.DataLayer/.vscode

